<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{test}}</h1>
    <h2>합 = {{c}}</h2>
    <h2>빼기 = {{d}}</h2>
    <h2>곱하기 = {{e}}</h2>
    <h2>나누기 = {{f}}</h2>
    <h2>나머지 = {{g}}</h2>
    <h1>계산기</h1>
    <form action="">
        첫번째수 = <input type="text" name="first" id=""><br>
        두번째수 = <input type="text" name="second" id="">
        <input type="submit" value="계산">
    </form>
    <h1><a href="/random">random</a></h1>
</body>
</html>
