@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rowdies:wght@700&family=Seymour+One&display=swap');

*{
    font-family: 'Jua','Lilita One', cursive;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
li{
    list-style-type: none;
}
a:visited{
    color: black;
}
a{
    text-decoration: none;
}
#main_header{
    height: 60px;
    line-height: 60px;
    padding: 0.5em;

    border-bottom: 1px solid black;

    background-color:  #98afde;
}
#main_gnb{
    background-color: #c9c9c9;
    overflow: hidden;
    border-bottom: 1px solid black;

    height: 50px;
    line-height: 50px;
}
#main_gnb>.left{
    float: left;
    overflow: hidden;
}
#main_gnb>.left>li{
    float: left;
    padding: 0 0.5rem;
    border-right: 1px solid black;

}
#main_gnb>.right{
    float: right;
    overflow: hidden;
}
#main_gnb>.right>li{
    float: right;
    padding: 0 0.5rem;
    border-left: 1px solid black;
}
#content_wrap{
    overflow: hidden;
}
#content_wrap>div{
    float: left;
}
#content_left{
    width: 200px;
    min-height: 400px;
}
#content_left>ul>li{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid black;
}
#content_left>ul>li:nth-child(n){
    background-color: #98afde;
}
#content_left>ul>li:nth-child(2n){
    background-color: #c9c9c9;
}
#content_right{
    width: 100%;
    margin-right: -200px;
}
#content_right>div{
    padding-left: 1rem;
    padding-right: 200px;
}
#main_footer{
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 40px;
    background-color: #98afde;
}